body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "roboto";
    margin: 0;
}

.container {
    flex: 1;
}

/* Header */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 0 21%;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 300;
    font-size: 18px;
}



/* Landing */

.landing {
    display: flex;
    background-color: #1F2937;
    padding: 0 21% 30px; 
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.landing-info {
    width: 500px;
    flex-wrap: wrap;
}

.landing h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    color: #F9FAF8;
}

.landing p {
    color: #E5E7EB;
    font-weight: 300;
    margin: 8px 0;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 10px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    width: 120px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}

.landing, .header h2 {
    color: #F9FAF8;
}

.img {
    height: 250px;
    width: 600px;
    background-color: rgb(122, 134, 134);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 300;
    font-size: 19px;
}


/* Info section */

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.random-info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.random-info h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
}

.info-card p {
    font-weight: 300;
    font-size: 18px;
}
.image-box {
    width: 175px;
    height: 175px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.info-card {
    text-align: center;
    width: 175px;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}