body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "roboto";
    margin: 0;
}

.container {
    flex: 1;
}

/* Header */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 0 21%;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 300;
    font-size: 18px;
}

/* Landing */

.landing {
    display: flex;
    background-color: #1F2937;
    padding: 0 21% 30px; 
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.landing-info {
    width: 500px;
    flex-wrap: wrap;
}

.landing h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    color: #F9FAF8;
}

.landing p {
    color: #E5E7EB;
    font-weight: 300;
    margin: 8px 0;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 10px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    width: 130px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}

.landing, .header h2 {
    color: #F9FAF8;
}

.img {
    height: 250px;
    width: 600px;
    background-color: rgb(122, 134, 134);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 300;
    font-size: 19px;
}

/* Info section */

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.information {
    margin-top: 50px;
    margin-bottom: 100px;
}

.information h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
}

.info-card p {
    font-weight: 300;
    font-size: 18px;
}

.image-box {
    width: 175px;
    height: 175px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.info-card {
    text-align: center;
    width: 175px;
}

/* Quote section */

.quote-container {
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 28% 2%;
}

.quote-container h1 {
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    margin-bottom: 0;
}

.quote-container p {
    align-self: flex-end;
    font-size: 24px;
    margin: 0;
}

/* Call to action */

.call-action-container {
    display: flex;
    padding: 0 21%;
}


.call-action {
    background-color: #3882F6;
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    margin: 100px 0;
}

.call-action h3 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    letter-spacing: 1px;
}

.call-action p {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
    font-weight: 300;
}

.call-action button {
    border: 2px solid #F9FAF8;
    width: 150px;
    padding: 0;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 40px;
}

.footer h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}